<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morkout.glassuielements"
    android:versionCode="5"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />   
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" /> 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name" >

        <activity
            android:name="com.morkout.glassuielements.StaticCardActivity"
            android:label="@string/app_name"
            android:enabled="true" >
			<!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->            
        </activity>
        
        <activity
            android:name="com.morkout.glassuielements.MenuActivity"
            android:label="@string/app_name"
            android:enabled="true" >
        </activity>
        
        <activity
            android:name="com.morkout.glassuielements.Immersion2DActivity"
            android:label="@string/app_name"
            android:enabled="true" >
        </activity>        
        
        <activity
            android:name="com.morkout.glassuielements.Immersion3DActivity"
            android:label="@string/app_name"
            android:enabled="true" >
        </activity> 
        
        <activity
            android:name="com.morkout.glassuielements.GlassStyledCardActivity"
            android:label="@string/app_name"
            android:enabled="true" >
        </activity>      
                
        <activity
            android:name="com.morkout.glassuielements.ScrollingCardsActivity"
            android:label="@string/app_name"
            android:enabled="true" >
        </activity>        
        
        <service
            android:name="com.morkout.glassuielements.AppService"
            android:icon="@drawable/ic_app"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </service>
    </application>
</manifest>
